@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@media (max-width: 500px) {

    * {
        overflow-x: hidden;
        margin-left: 50px;
        width: 490px;
        margin: 0;
        padding: 0;
    }
    .btnCalendario{
      text-align:left;
    }

}
/*------CONDIÇÕES GERAIS------*/
body,
ul,
li,
p,
a,
dt,
dd,
h1 {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
h1{
    padding: 10px 15px;
    text-align: center;
    font-weight: bold;
}
@media(max-width: 600px){
  .header a{
    display: none;
  }
}
.agenda {
  width: 500px;
  margin: 20px auto;
  border-radius: 10px;
  background: #87ceeb;
  overflow: hidden;
  box-shadow: 0 0 5px #6D6A75;
}
.agenda dt {
  background:#6D6A75;
  color: #ffffff;
  padding: 10px 15px;
  text-align: center;
  font-weight: light;
  font-size: 20px;
}
.agenda dd {
  margin: 0;
  padding: 10px 15px;
  color: #ffffff;
  overflow: hidden;
}

.agenda dd span {
  position: absolute;
}
.agenda ul {
  float: left;
  margin: 0 0 0 50px;
  padding: 0;
  list-style: none;
  width: 100%;
  border-left: 1px solid rgba(255,255,255,.4);
}
.agenda li {
  border-bottom: 1px solid rgba(255,255,255,.4);
  padding: 0 0 5px 10px;
  margin-bottom: 5px;
}
.agenda li:last-child {
  padding-bottom: 0;
  margin: 0;
  border: 0;
}
.agenda dd {
  background: #87ceeb;
}
.btn{
    background-color: #6D6A75 !important;
    border: none !important;
    color: #ffffff!important;
    font-size: 15px !important;
  }
  .btn:hover{
    background-color: #87ceeb !important;
  }

.btnCalendario{
  padding: 10px 15px;
  text-align:end;
  background-color: #87ceeb !important;
  border: none !important;
}

